@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Raleway:ital,wght@0,400;1,300&family=Staatliches&display=swap");
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(https://www.bing.com/th/id/OGC.0b3d0c7d4cba82343643a5f4c48e2fba?pid=1.7&rurl=https%3a%2f%2fmedia1.giphy.com%2fmedia%2f5xtDarsUgCwZMXqcVQA%2fsource.gif&ehk=cTbjGTK%2fM60pF6fAavr00uwejGtiyT%2bDn%2bB56mumbSQ%3d);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
     font-weight: 400;
    -webkit-font-smoothing: antialiased; 
    color:antiquewhite;
   }
   .input {
    width: 100%;
    margin-bottom: 25px;
    color:antiquewhite;
}
.blurred-box{
    position: relative;
    width: 500px;
    padding: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    color: rgb(255, 254, 254);
  }
 

